.pixel-card {
  @apply relative isolate grid aspect-square select-none place-items-center overflow-hidden rounded-3xl border border-white/[0.1] bg-white/[0.01] shadow-[0_8px_16px_rgb(0_0_0/0.4)] backdrop-blur-md transition-all hover:border-white/[0.3];
  transition: border-color 200ms cubic-bezier(0.5, 1, 0.89, 1);

  &::before {
    content: "";
    @apply absolute inset-[0] m-auto aspect-[1] bg-[radial-gradient(circle,_#09090b,_transparent_85%)] opacity-0;
    transition: opacity 800ms cubic-bezier(0.5, 1, 0.89, 1);
  }

  &:hover::before,
  &:hover:focus-within::before {
    @apply opacity-100;
  }

  &__content {
    @apply absolute left-0 top-0 grid h-full w-full place-content-center;
  }

  &__canvas {
    @apply block h-full w-full;
  }
}
