@import 'mixins/reverse.scss';

.footer {
  @apply relative pt-40 md:pt-60 p-10 md:p-20 border-t overflow-hidden border-[hsla(0,0%,100%,.1)] w-screen;

  &__content {
    @apply grid z-10;
    grid-template-areas: 'connect nav' 'bottom bottom';
    grid-template-columns: 1fr 2fr;

    &__connect {
      @apply grid gap-4;
      grid-area: connect;

      &>div {
        @apply py-2 mb-7 overflow-x-hidden;

        &>a {
          @apply relative origin-right font-light font-lora text-gray-400 md:text-2xl;
          transition: color .3s ease-in-out;

          &:after {
            content: " ";
            @apply absolute -bottom-1 left-0 origin-right scale-x-0 h-px md:h-[2px] w-full bg-gradient-to-r from-indigo-500 to-purple-500;
            transition: transform .3s ease-in-out;
          }

          &:hover {
            @apply bg-gradient-to-r from-indigo-500 to-purple-500 bg-clip-text text-transparent;

            &:after {
              @apply origin-left scale-x-100;
            }
          }
        }
      }

      &__social {
        @apply flex gap-4;
      }
    }

    &__nav {
      grid-area: nav;

      &__elements {
        @apply grid gap-10 grid-cols-3 mt-8 xl:mt-0;

        & li {
          @apply text-gray-400 font-light text-sm md:text-sm xl:text-lg cursor-pointer;

          h5 {
            @include reverse;
            @apply mb-2;

            span {
              @apply font-normal font-lora;

              &:after {
                @apply bg-gradient-to-r from-indigo-500 to-purple-500 bg-clip-text text-transparent font-normal;
              }
            }
          }

          &:hover h5 {
            span {
              transform: translateY(-110%);
            }
          }
        }

        @media screen and (min-width: 1200px) {

          & li:first-child,
          & li:nth-child(2) {
            grid-column: 2 / 3;
          }
        }

        @media screen and (max-width: 1199px) {
          grid-template-columns: repeat(auto-fill, minmax(13.75rem, 1fr))
        }

        @media (max-width: 767px) {
          @apply gap-4;
          grid-template-columns: repeat(auto-fill, minmax(6.25rem, 1fr));

          & li p:nth-child(2) {
            @apply hidden;
          }
        }
      }
    }

    &__bottom {
      @apply text-center pb-20 pt-0 md:pt-40 text-gray-400 font-light text-xs md:text-base;
      grid-area: bottom;
    }

    @media screen and (max-width: 1199px) {
      @apply grid-cols-1 gap-8;
      grid-template-areas: 'connect' 'nav' 'bottom';
    }
  }
}