.button {
  $root: &;

  @apply relative inline-block rounded-full px-6 py-4 text-lg font-medium uppercase;
  transition: transform 0.3s;

  &__border {
    @apply absolute inset-0 z-[3] block rounded-full border border-white;
  }

  &__ripple {
    @apply absolute inset-0 z-[1] block overflow-hidden rounded-[inherit];
    transform: translateZ(0);

    & span {
      @apply block h-full w-full bg-white;
      border-radius: 50% 50% 0 0;
      transform: translateY(101%);
      transition:
        transform 0.5s cubic-bezier(0.4, 0, 0, 1),
        border-radius 0.5s cubic-bezier(0.4, 0, 0, 1);
    }
  }

  &__title {
    @apply relative z-[2] block overflow-hidden text-center text-white;

    & span {
      @apply block;
      transition: transform 0.8s cubic-bezier(0.16, 1, 0.3, 1);

      &:after {
        @apply absolute left-0 top-[110%] block w-full text-center text-black;
        content: attr(data-text);
      }
    }
  }

  &:hover {
    transform: scaleX(1.02);
    transition: transform 0.6s cubic-bezier(0.34, 5.56, 0.64, 1);

    #{$root}__ripple {
      span {
        border-radius: 0;
        transform: translateY(0);
        transition-duration: 0.5s, 0.9s;
      }
    }

    #{$root}__title {
      span {
        transform: translateY(-110%);
      }
    }
  }

  &:active {
    transform: scaleX(1);
    transition: transform 0.6s cubic-bezier(0.34, 3.56, 0.64, 1);
  }
}

.especular-btn {
  @apply relative flex cursor-pointer items-center gap-1 rounded-full bg-gradient-to-l from-indigo-500 via-purple-500 to-indigo-500 px-7
    py-4 text-base leading-none text-white transition-all duration-300 ease-in;
  border: none;
  box-shadow:
    inset 0px 0px 5px #a5b4fca9,
    inset 0px 35px 30px var(--black),
    0px 5px 10px #000000cc;

  &::before {
    content: "";
    @apply absolute inset-[0] z-[-1] m-auto rounded-full shadow-none;
    filter: blur(0px);
    background: conic-gradient(
      var(--alt) 80deg,
      var(--indigo-500),
      var(--purple-500),
      var(--indigo-500),
      var(--alt) 280deg
    );
    transition: all 0.3s ease;
  }

  & span {
    @apply font-medium leading-none;
    text-shadow: 1px 1px 2px #000;
  }

  &:hover::before {
    filter: blur(15px);
  }

  &:active {
    box-shadow:
      inset 0px 0px 5px #818cf8a9,
      inset 0px 35px 30px #000;
    margin-top: 3px;
    transform: scaleX(1.02);
    transition: transform 0.6s cubic-bezier(0.34, 3.56, 0.64, 1);

    &::before {
      filter: blur(5px);
      transform: translateY(1px);
    }
  }
}
