$chip-colors: (
  default: (
    filled: "text-white bg-indigo-500 border-indigo-500",
    outlined: "text-indigo-500 border-indigo-500",
    tonal: "text-indigo-900 bg-indigo-400/50 border-indigo-500/0"
  ),
  white: (
    filled: "text-black bg-white border-white",
    outlined: "text-white border-white",
    tonal: "text-black bg-white/50 border-white/0"
  ),
  black: (
    filled: "text-white bg-black border-black",
    outlined: "text-black border-black",
    tonal: "text-black bg-black/50 border-black/0"
  ),
  warning: (
    filled: "text-white bg-amber-500 border-amber-500",
    outlined: "text-amber-500 border-amber-500",
    tonal: "text-amber-900 bg-amber-400/50 border-amber-500/0"
  ),
  error: (
    filled: "text-white bg-red-500 border-red-500",
    outlined: "text-red-500 border-red-500",
    tonal: "text-red-900 bg-red-400/50 border-red-500/0"
  ),
  success: (
    filled: "text-white bg-lime-600 border-lime-600",
    outlined: "text-lime-600 border-lime-600",
    tonal: "text-lime-900 bg-lime-400/50 border-lime-600/0"
  ),
  info: (
    filled: "text-white bg-blue-500 border-blue-500",
    outlined: "text-blue-500 border-blue-500",
    tonal: "text-blue-900 bg-blue-400/50 border-blue-500/0"
  )
);

.chip {
  @apply block rounded-full px-3 py-1 border w-fit h-fit font-semibold text-sm;

  &__filled {
    @each $name, $variants in $chip-colors {
      &--#{$name} {
        @apply #{map-get($variants, filled)};
      }
    }
  }

  &__outlined {
    @apply font-semibold;
    @each $name, $variants in $chip-colors {
      &--#{$name} {
        @apply #{map-get($variants, outlined)};
      }
    }
  }

  &__tonal {
    @apply font-medium;

    @each $name, $variants in $chip-colors {
      &--#{$name} {
        @apply #{map-get($variants, tonal)};
      }
    }
  }
}