.experience {
  @apply flex flex-1 flex-col pb-12 pt-8 md:pb-32 md:pt-20 lg:pb-48 lg:pt-24;

  &__title {
    @apply px-10 pb-10 pt-10 md:px-20 md:pb-28 lg:px-28 lg:pt-4;
  }

  &__content {
    @apply md:px-4 lg:px-6;
  }
}

.item {
  $root: &;
  @apply flex w-full flex-col border-b px-10 py-6 md:flex-row md:items-center md:px-16 md:py-10 lg:px-[6.5rem];
  border-image: linear-gradient(
      to right,
      transparent,
      rgba(255, 255, 255, 0.4) 25%,
      rgba(255, 255, 255, 0.4) 75%,
      transparent
    )
    20;

  &:first-child {
    @apply border-t;
  }

  &__section {
    $section-root: &;

    @apply flex flex-auto flex-col text-gray-400;

    &--left {
      @apply gap-2 md:gap-6;
    }

    &--right {
      @apply text-lg font-light md:text-right md:text-xl;
    }

    &__title {
      @apply relative z-[2] block overflow-hidden font-lora text-2xl font-light text-white text-opacity-55 md:text-4xl lg:text-5xl;

      & span {
        @apply block;
        transition: transform 0.8s cubic-bezier(0.16, 1, 0.3, 1);

        &:after {
          @apply absolute left-0 top-[110%] block w-full text-white;
          content: attr(data-text);
        }
      }
    }

    &__company {
      @apply text-lg font-light md:text-xl;
    }
  }

  &:hover {
    #{$root}__section__title {
      span {
        transform: translateY(-110%);
      }
    }
  }
}
