.resume {
  $root: &;
  @apply relative flex h-full min-h-screen w-full flex-col place-content-center pb-36 pt-48 md:min-h-[auto] md:py-36;

  &__content {
    @apply flex h-full flex-col items-center justify-center;

    &__cards {
      @apply relative z-[1] mb-[calc(5.6rem_*_1.5)] h-[25rem] min-h-[25rem] w-[19rem] min-w-[19rem];
      @apply md:h-[30rem] md:min-h-[30rem] md:w-[23rem] md:min-w-[23rem];
      transition: all 0.2s ease-out;

      &__blobs {
        background: url("/static/images/gradient-blob.svg") top no-repeat;
        @apply pointer-events-none absolute -left-1/2 -top-1/2 z-0 h-[300%] w-[200%] select-none bg-contain;
      }

      &:hover {
        #{$root}__card {
          &:first-child {
            transform: translate3d(0px, -1rem, 0px) rotate(-4deg) scale(1, 1);
          }

          &:nth-child(2) {
            transform: translate3d(15%, 0px, 0px) rotate(3deg) scale(0.96, 0.96);
          }
        }
      }
    }

    &__links {
      @apply my-6 flex gap-6;

      & a {
        @apply text-xl;
      }
    }
  }

  &__card {
    @apply absolute top-0 z-10 h-full w-full rounded-xl bg-black bg-opacity-20 p-5 backdrop-blur-2xl;
    transition: all 0.2s ease-out;
    aspect-ratio: 3/4;

    &__content {
      @apply relative h-full w-full rounded-xl bg-white text-black;
    }

    &:first-child {
      @apply top-[-10%] z-20;
      transform: translate3d(0px, 0px, 0px) rotate(-5.2193deg) scale(1.0435, 1.0435);
      transform-origin: top right;
    }

    &:nth-child(2) {
      @apply bottom-[-10%] left-[35%] top-auto w-[90%];
      transform: translate3d(4.3494%, 0px, 0px) rotate(5.2193deg) scale(1.0435, 1.0435);
      transform-origin: bottom left;
    }

    &:nth-child(2) > &__content {
      @apply bg-slate-800;
    }
  }
}
