.tab {
  @apply relative m-0 box-border inline-flex min-h-12 min-w-[5.625rem]  max-w-[22.5rem] shrink-0
    cursor-pointer select-none items-center justify-center gap-2 overflow-hidden whitespace-normal rounded-none border-0 bg-transparent 
      p-0 px-3 py-4 text-center align-middle leading-[1.25] tracking-wide text-white/60 outline-0;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;

  &::-moz-focus-inner {
    @apply border-none;
  }

  &--disabled {
    @apply pointer-events-none cursor-default;
  }

  &--selected {
    @apply bg-gradient-to-r from-indigo-500
      to-purple-500 bg-clip-text font-bold tracking-normal text-transparent text-opacity-100;
  }

  @media print {
    print-color-adjust: exact;
  }
}
