.tabs {
  @apply flex min-h-12 w-full overflow-hidden border-b border-zinc-500/20;

  &__scroller {
    @apply relative flex w-full flex-auto overflow-x-auto overflow-y-hidden whitespace-nowrap;
    scrollbar-width: none;
  }

  &__list {
    @apply flex;
  }

  &__indicator {
    @apply absolute bottom-0 block h-1.5 w-full transition-all duration-500;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
    background: radial-gradient(60% 100% at 50% 100%, #93c5fa99 0%, #ffffff00 71%);
  }
}
